body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.tutorial {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.tutorial ol, .tutorial ul {
  padding-left: 30px;
}

.tutorial .board-row:after {
  clear: both;
  content: "";
  display: table;
}

.tutorial .status {
  margin-bottom: 10px;
}

.tutorial .square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.tutorial .square:focus {
  outline: none;
}

.tutorial .kbd-navigation .square:focus {
  background: #ddd;
}

.tutorial .game {
  display: flex;
  flex-direction: row;
}

.tutorial .game-info {
  margin-left: 20px;
}
