{
  "rules": {
    "react/prefer-stateless-function": "off",
    "react/jsx-props-no-spreading": "off",
    "react/static-property-placement": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off"
  }
}